.fit-cover {
  object-fit: cover;
}

.btn {
  border-color: var(--bs-gray);
  background-color: var(--bs-dark);
}

body {
  background-color: var(--bs-gray-dark);
}

#navcol-5 {
  background-color: var(--bs-gray-900);
}

a {
  background-color: var(--bs-dark);
}

div {
  /*background-color: #51596a;*/
}

.card-header {
  background-color: #51596a;
}

div {
}

td {
  /*background-color: #51596a;*/
}

div {
  background-color: #51596a;
}

div {
}

