img {
  border-radius: 5px;
}

img {
  border-radius: 5px;
}

.btn {
  margin: 0px 10px;
  margin-bottom: 20px;
}

.title-div {
  background-color: #333333;
}

h1 {
}

.card-body {
}

body {
  background-color: #333333;
}

