{% extends "base.html" %}

{% block head %}
{{ super()}}
<link rel="stylesheet" href="{{ url_for('static',filename='add_poem.css')}}" type="text/css">
<title>New Poem</title>
{% endblock %}

{% block content %}
<form class="form-style-9">
    <ul>
        <li>
            <input type="text" name="field3" class="field-style field-full align-none" placeholder="Title" />
        </li>
        <li>
            <textarea name="field5" class="field-style" placeholder="Poem"></textarea>
        </li>
        <li>
            <input type="submit" value="Upload Poem" />
        </li>
    </ul>
</form>
{% endblock %}