<!DOCTYPE html>
<html lang="en">
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>add poem</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/Navbar-Centered-Brand-Dark.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/TD-BS4-Simple-Contact-Form-1.css">
    <link rel="stylesheet" href="assets/css/TD-BS4-Simple-Contact-Form.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-md bg-dark py-3">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="#"></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-5"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-5">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link active" href="#">Profile</a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                </ul><a class="btn btn-primary ms-md-2" role="button" href="#">Home</a>
            </div>
        </div>
    </nav>
    <section class="td-form"></section>
    <section class="td-form">
        <div class="row td-form-wrapper">
            <div class="col td-glass">
                <form class="td-form-wrapper">
                    <h1 class="text-center">Poem</h1>
                    <div class="form-group mb-3">
                        <div class="col-md-12"><label class="form-label" for="name">Title</label>
                            <div class="d-flex"><input class="form-control d-flex" type="text" autocomplete="off" name="name" required="" placeholder="Treedax Services"></div>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <div class="col-md-12">
                            <div class="d-flex td-input-container"></div>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <div class="col-md-12">
                            <div class="d-flex td-input-container"></div>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <div class="col-md-12"><label class="form-label" for="message">Description</label>
                            <div class="d-flex td-input-container"><textarea class="form-control" placeholder="Add meaningful message here" name="message" rows="6" cols="50"></textarea></div>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <div class="col-md-12"><button class="btn btn-dark float-end" type="submit">Post Poem</button></div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>