<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create_poem</title>
    <link rel="stylesheet" href="css/create_poem.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>
<body>
    <header>
        <nav>
            <a href="#">Home</a>
            <a href="#">Profile</a>
        </nav>
        <div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.99 C150.00,150.00 349.20,-49.99 500.00,49.99 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path></svg></div>
    </header>
    <main>
        <section>
            <div class="contenedor-poema">
                <img src="img/imagen1.png" alt="", class="image-about-us">
                <button type="button" class="boton-avatar">
                    <i class="far fa-image"></i>
                </button>
                <form class="form-poema">
                    <h2 class="titulo">Creacion de poema</h2>
                    <div class="form-control">
                        <label for="exampleFormControlInput1" class="form-label">Titulo Poema</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Escribir Titulo">
                    </div>
                    <div class="form-control">
                        <label for="exampleFormControlTextarea1" class="form-label">Poema</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <input type="submit" class="form__submit" value="Publicar">
                </form>
            </div>
        </section>
    </main>
</body>
</html>