{% extends "base.html" %}

{% block head %}
{{ super()}}
<link rel="stylesheet" href="{{ url_for('static',filename='add_poem.css')}}" type="text/css">
<title>New Poem</title>
{% endblock %}

{% block content %}
<form class="form-style-9" method="post" action="/add_poem">
    <ul>
        <li>
            <input type="text" name="title" class="field-style field-full align-none" placeholder="title" />
        </li>
        <li>
            <textarea name="body" class="field-style" placeholder="body"></textarea>
        </li>
        <li>
            <button type="submit">upload poem</button>
        </li>
    </ul>
</form>
{% endblock %}