<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poems</title>
    <link rel="stylesheet" href="css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    
</head>
<body>
    <header>
        <nav>
            <a href="#">Home</a>
            <a href="#">Profile</a>
            <a href="#">User</a>
        </nav>
        <section class="textos-header">
            <h1>Lee los mejores poemas en tu sitio favorito</h1>
            <h2>Todo en un mismo lugar</h2>
        </section>
        <div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.99 C150.00,150.00 349.20,-49.99 500.00,49.99 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path></svg></div>
    </header>
    <main>
        <section class="contenedor sobre-nosotros">
            <h2 class="titulo">Nuestra pagina</h2>
            <div class="contenedor-sobre-nosotros">
                <img src="img/ilustracion1.svg" alt="", class="image-about-us">
                <div class="contenedor-items">
                    <h3><span>1</span>Los mejores poemas</h3>
                    <p>Bienvenidos a la pagina aqui podras encontrar los mejores poemas escritos por autores amateurs</p>
                    <h3><span>2</span>Los mejores poemas</h3>
                    <p>Bienvenidos a la pagina aqui podras encontrar los mejores poemas escritos por autores amateurs</p>
                </div>
            </div>
        </section>
        <section class="portafolio">
            <div class="contenedor">
                <h2 class="titulo">Poemas</h2>
                <div class="galeria-port">
                    <div class="image-port">
                        <img src="img/imagen1.png" alt="">
                        <div class="hover-galeria">
                            <img src="img/icono1.png" alt="">
                            <p>Nuestros Poemas</p>
                        </div>
                    </div>
                    <div class="image-port">
                        <img src="img/imagen1.png" alt="">
                        <div class="hover-galeria">
                            <img src="img/icono1.png" alt="">
                            <p>Nuestros Poemas</p>
                        </div>
                    </div>
                    <div class="image-port">
                        <img src="img/imagen1.png" alt="">
                        <div class="hover-galeria">
                            <img src="img/icono1.png" alt="">
                            <p>Nuestros Poemas</p>
                        </div>
                    </div>
                    <div class="image-port">
                        <img src="img/imagen1.png" alt="">
                        <div class="hover-galeria">
                            <img src="img/icono1.png" alt="">
                            <p>Nuestros Poemas</p>
                        </div>
                    </div>
                    <div class="image-port">
                        <img src="img/imagen1.png" alt="">
                        <div class="hover-galeria">
                            <img src="img/icono1.png" alt="">
                            <p>Nuestros Poemas</p>
                        </div>
                    </div>
                    <div class="image-port">
                        <img src="img/imagen1.png" alt="">
                        <div class="hover-galeria">
                            <img src="img/icono1.png" alt="">
                            <p>Nuestros Poemas</p>
                        </div>
                    </div>
                    <div class="image-port">
                        <img src="img/imagen1.png" alt="">
                        <div class="hover-galeria">
                            <img src="img/icono1.png" alt="">
                            <p>Nuestros Poemas</p>
                        </div>
                    </div>
                    <div class="image-port">
                        <img src="img/imagen1.png" alt="">
                        <div class="hover-galeria">
                            <img src="img/icono1.png" alt="">
                            <p>Nuestros Poemas</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>