{% extends "base.html" %}

{% block head %}
{{ super()}}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static',filename='home.css')}}" type="text/css">
<script type="text/javascript" src="{{ url_for('static',filename='home.js')}}"></script>
<title>Home</title>
{% endblock %}

<!------ Include the above in your HEAD tag ---------->


<!-- NAVBAR-->
{%block content %}
<section>
    <div class="container">
        <div class="row searchFilter">
            <div class="col-sm-12">
                <div class="input-group">
                    <input id="table_filter" type="text" class="form-control"
                        aria-label="Text input with segmented button dropdown">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span
                                class="label-icon">Category</span> <span class="caret">&nbsp;</span></button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <ul class="category_filters">
                                <li>
                                    <input class="cat_type category-input" data-label="All" id="all" value=""
                                        name="radios" type="radio"><label for="all">All</label>
                                </li>
                                <li>
                                    <input type="radio" name="radios" id="Marketing" value="Marketing"><label
                                        class="category-label" for="Marketing">Date</label>
                                </li>
                                <li>
                                    <input type="radio" name="radios" id="Programming" value="Programming"><label
                                        class="category-label" for="Programming">New</label>
                                </li>
                                <li>
                                    <input type="radio" name="radios" id="Sales" value="Sales"><label
                                        class="category-label" for="Sales">Old</label>
                                </li>
                            </ul>
                        </div>
                        <button id="searchBtn" type="button" class="btn btn-secondary btn-search"><span
                                class="glyphicon glyphicon-search">&nbsp;</span> <span
                                class="label-icon">Search</span></button>
                        <button id="searchBtn" type="button" class="btn btn-secondary btn-search"><a href="/add_poem"><span
                                class="glyphicon glyphicon-search">&nbsp;</span> <span class="label-icon">Add
                                Poem</span></a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% for poem in poems %}
<section>
    <div id="container">

        <div class="product-details">

            <a href="/"><h1>{{poem.title}}</h1></a>
            <h3>{{poem.user.name}}</h3>
            <br>
            <span class="hint-star star">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
            </span>

            <p class="information">{{poem.body}}</p>
        </div>

        <div class="product-image">

            <img src="https://images.unsplash.com/photo-1606830733744-0ad778449672?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mzl8fGNocmlzdG1hcyUyMHRyZWV8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                alt="">
        </div>

    </div>
</section>
{% endfor %}
<!-- Jquery needed -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="js/scripts.js"></script>

<!-- Function used to shrink nav bar removing paddings and adding black background -->
<script>
    $(window).scroll(function () {
        if ($(document).scrollTop() > 50) {
            $('.nav').addClass('affix');
            console.log("OK");
        } else {
            $('.nav').removeClass('affix');
        }
    });
</script>
{% endblock %}
