{% extends "base.html" %}

{% block head %}
{{ super()}}
<link rel="stylesheet" href="{{ url_for('static',filename='poem_view.css')}}" type="text/css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<title>View Poem</title>
{% endblock %}

{% block content %}
<section>
    <form method="get" action="/poem/edit_poem/{{poem.id}}">
        <div id="poem">
            <h1 class="poem_title">{{poem.title}}</h1>
            <h2>{{poem.user.name}}</h2>
            <p class="poem_content">{{poem.body}}</p>
            <br>
            <br>
            <p class="poem_content">{{poem.score}}</p>
            <p class="poem_content">{{poem.date}}</p>
        </div>
        {% if poem.user.id == request.cookies.get('id') %}
        <button type="submit"><a>Edit</a></button>
        {% endif %}
        
    </form>
</section>
<section>
    <div class="container">
        <div class="be-comment-block">
            {% for comment in poem.qualifications %}
            <div class="be-comment">
                <form method="post" action="/poem/delete_comment/{{comment.id}}">
                    <div class="be-comment-content">
                        
                        {% if request.cookies.get('access_token') %}
                        
                        {% if comment.user_id == request.cookies.get('id') %}
                        <button type="submit">delete</button>
                        {% endif %}
                        <p class="be-comment-text">{{comment.comment}}</p>
                        <p>{{comment.score}}</p>
                        {% else %}
                        <p class="be-comment-text">{{comment.comment}}</p>
                        <p>{{comment.score}}</p>
                        
                        {% endif %}
                    </div>
                </form>
            </div>
            {% endfor %}
            <form method="post" action="/poem/comment/{{poem.id}}">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <textarea class="form-input" name="comment" placeholder="Your text"></textarea>
                        </div>
                    </div>
                    <button type="submit"><a>submit</a></button>
                </div>
                <div class="container d-flex justify-content-center mt-200">


                    <div class="row">

                        <div class="col-md-12">

                            <div class="stars">

                                <form>

                                    <input class="star star-5" id="star-5" type="radio" name="star" value="5" />

                                    <label class="star star-5" for="star-5"></label>

                                    <input class="star star-4" id="star-4" type="radio" name="star" value="4" />

                                    <label class="star star-4" for="star-4"></label>

                                    <input class="star star-3" id="star-3" type="radio" name="star" value="3" />

                                    <label class="star star-3" for="star-3"></label>

                                    <input class="star star-2" id="star-2" type="radio" name="star" value="2" />

                                    <label class="star star-2" for="star-2"></label>

                                    <input class="star star-1" id="star-1" type="radio" name="star" value="1" />

                                    <label class="star star-1" for="star-1"></label>


                                </form>


                            </div>



                        </div>


                    </div>

                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}