{% extends "base.html" %}

{% block head %}
{{ super()}}
<link rel="stylesheet" href="{{ url_for('static',filename='poem_view.css')}}" type="text/css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<title>View Poem</title>
{% endblock %}

{% block content %}
<section>
    <div id="poem">
        <h1 class="poem_title">title</h1>
        <h2>Lautaro Gimenez</h2>
        <p class="poem_content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ipsum officiis
            reiciendis, nulla molestias neque minus dolores sit dicta qui praesentium at quas voluptates odio? Nam
            quae tempora nobis atque.</p>
        <br>
        <p class="poem_content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ipsum officiis
            reiciendis, nulla molestias neque minus dolores sit dicta qui praesentium at quas voluptates odio? Nam
            quae tempora nobis atque.</p>
        <br>
        <p class="poem_content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ipsum officiis
            reiciendis, nulla molestias neque minus dolores sit dicta qui praesentium at quas voluptates odio? Nam
            quae tempora nobis atque.</p>
        <br>
        <p class="poem_content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ipsum officiis
            reiciendis, nulla molestias neque minus dolores sit dicta qui praesentium at quas voluptates odio? Nam
            quae tempora nobis atque.</p>
        <p class="poem_content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ipsum officiis
            reiciendis, nulla molestias neque minus dolores sit dicta qui praesentium at quas voluptates odio? Nam
            quae tempora nobis atque.</p>
        <br>
        <p class="poem_content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ipsum officiis
            reiciendis, nulla molestias neque minus dolores sit dicta qui praesentium at quas voluptates odio? Nam
            quae tempora nobis atque.</p>
        <br>
        <p class="poem_content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ipsum officiis
            reiciendis, nulla molestias neque minus dolores sit dicta qui praesentium at quas voluptates odio? Nam
            quae tempora nobis atque.</p>
        <br>
        <p class="poem_content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ipsum officiis
            reiciendis, nulla molestias neque minus dolores sit dicta qui praesentium at quas voluptates odio? Nam
            quae tempora nobis atque.</p>
    </div>
</section>
<section>
    <div class="container">
        <div class="be-comment-block">
            <div class="be-comment">
                <div class="be-comment-content">

                    <span class="be-comment-name">
                        <a href="blog-detail-2.html">Matias</a>
                    </span>

                    <p class="be-comment-text">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat culpa qui blanditiis molestiae
                        quas fuga explicabo tenetur minima? Odio vero rem quas perspiciatis minus ducimus fuga fugit
                        incidunt sed eveniet.
                    </p>
                </div>
            </div>
            <div class="be-comment">
                <div class="be-comment-content">
                    <span class="be-comment-name">
                        <a href="blog-detail-2.html">Franco</a>
                    </span>
                    <p class="be-comment-text">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate quos sint incidunt dolores!
                        Voluptates ipsam facilis impedit vitae sapiente aperiam eius inventore nesciunt ipsa earum.
                        Soluta saepe odio ipsa amet.
                    </p>
                </div>
            </div>
            <div class="be-comment">
                <div class="be-comment-content">
                    <span class="be-comment-name">
                        <a href="blog-detail-2.html">Lautaro</a>
                    </span>
                    <p class="be-comment-text">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero distinctio ab aliquam hic!
                        Consectetur rerum quasi vel quis perferendis unde molestias quibusdam reiciendis laborum
                        reprehenderit asperiores quisquam explicabo, velit dignissimos!
                    </p>
                </div>
            </div>
            <form class="form-block">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <textarea class="form-input" required="" placeholder="Your text"></textarea>
                        </div>
                    </div>
                    <a class="btn btn-primary pull-right">submit</a>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}