{% extends "base.html" %}

{% block head %}
{{ super()}}
<link rel="stylesheet" href="{{ url_for('static',filename='profile.css')}}" type="text/css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
{% endblock %}




{% block content %}}
<section>
    <div class="container" method="get" action="/">


        <div class="card social-prof">
            <div class="card-body">
                <div class="wrapper">
                    <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" class="user-profile">
                    <h3>{{user.name}}</h3>
                    <form action="/user/delete_user" method="post">
                        <button type="submit">Delete Acount</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body info-card social-about">
                        <form method="get" action="/user/edit_user/{{user.id}}">
                        <h2 class="text-blue">{{user.name}}</h2>
                        <button type="submit">edit name</button>
                        </form>
                        <h4><strong>Information User</strong></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. </p>
                        <h4 class="mb-3"><strong>Personal Info</strong></h4>
                        <div class="row">
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="social-info">
                                    <i class="fas fa-briefcase mr-2"></i>
                                    <span>{{user.rol}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="social-info">
                                    <i class="fas fas fa-envelope mr-2"></i>
                                    <span>{{user.email}}</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% for poem in user.poems %}
<section>
    <div id="container">

        <div class="product-details">
            <form method="post" action="/user/delete_poem/{{poem.id}}">
                <a href="{{url_for('poem.poem_view', id=poem.id)}}">
                    <h1>{{poem.title}}</h1>
                </a>
                <h3>{{poem.user.name}}</h3>
                <br>
                <span class="hint-star star">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </span>

                <p class="information">{{poem.body}}</p>
                <button type="submit">delete</button>
            </form>
        </div>

        <div class="product-image">

            <img src="https://images.unsplash.com/photo-1606830733744-0ad778449672?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mzl8fGNocmlzdG1hcyUyMHRyZWV8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                alt="">
        </div>

    </div>
</section>
{% endfor %}
{% endblock %}