<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/profile_user.css">
    <title>Profile</title>
</head>
<body>
    <header>
        <nav>
            <a href="#">Home</a>
            <a href="#">Profile</a>
        </nav>
        <div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.99 C150.00,150.00 349.20,-49.99 500.00,49.99 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path></svg></div>
    </header>
    <section class="perfil-usuario">
        <div class="encabezado-perfil">
            <div class="portada-perfil">
                <div class="avatar">
                    <img src="img/avatar.png" alt="img-avatar">
                    <button type="button" class="boton-avatar">
                        <i class="far fa-image"></i>
                    </button>
                </div>
                <button type="button" class="boton-portada">
                    <i class="far fa-image">cambiar fondo</i>
                </button>
            </div>
        </div>

        <div class="body-perfil">
            <div class="perfil-bio">
                <h3 class="titulo">Lautaro Gimenez</h3>
                <p class="texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi id aut molestias voluptatibus, blanditiis dolorum a reiciendis minus quasi facilis illum, asperiores nostrum cumque placeat, voluptatum distinctio laboriosam explicabo est.</p>
            </div>
            <div class="perfil-footer">
                <ul class="lista-datos">
                    <li><i class="fa fa-address-card" aria-hidden="true"></i><i>Nombre:</i></li>
                    <li><i class="fa fa-envelope" aria-hidden="true"></i><i>Email:</i></li>
                    <li><i class="fa fa-key" aria-hidden="true"></i><i>Contraseña:</i></li>
                </ul>
            </div>
        </div>
    </section>
    <section class="slider">
        <div class="slider__container container">
            <img src="img/left.svg" class="slider__arrow" id="before">
            <section class="slider__body slider__body--show">
                <div class="slider__texts">
                    <h2 class="subtitle">Elegía</h2>
                    <p class="slider__review">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores nulla sunt dolor necessitatibus perferendis. Optio ex eius ratione, dolorum blanditiis deleniti nobis excepturi porro! Voluptatibus, ea ad. Excepturi, voluptatem dolore.</p>
                </div>
                
                <figure class="slider__picture">
                    <img src="img/avatar.png" class="slider__img">
                </figure>
            </section>
            <section class="slider__body">
                <div class="slider__texts">
                    <h2 class="subtitle">Tú me quieres blanca</h2>
                    <p class="slider__review">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores nulla sunt dolor necessitatibus perferendis. Optio ex eius ratione, dolorum blanditiis deleniti nobis excepturi porro! Voluptatibus, ea ad. Excepturi, voluptatem dolore.</p>
                </div>
                
                <figure class="slider__picture">
                    <img src="img/imagen1.png" class="slider__img">
                </figure>
            </section>
            <section class="slider__body">
                <div class="slider__texts">
                    <h2 class="subtitle">Gacela de la terrible presencia</h2>
                    <p class="slider__review">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores nulla sunt dolor necessitatibus perferendis. Optio ex eius ratione, dolorum blanditiis deleniti nobis excepturi porro! Voluptatibus, ea ad. Excepturi, voluptatem dolore.</p>
                </div>
                
                <figure class="slider__picture">
                    <img src="img/header.png" class="slider__img">
                </figure>
            </section>

            <img src="img/right.svg" class="slider__arrow" id="after">
        </div>

    </section>
</body>
</html>