{% extends "base.html" %}

{% block head %}
{{ super()}}
<link rel="stylesheet" href="{{ url_for('static',filename='profile.css')}}" type="text/css">
{% endblock %}




{% block content %}}    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
    <div class="container">

        
        <div class="card social-prof">
            <div class="card-body">
                <div class="wrapper">
                    <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" class="user-profile">
                    <h3>Author 1</h3>
                    <p>Poet 1</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body info-card social-about">
                        <h2 class="text-blue">Profile</h2>
                        <h4><strong>Information User</strong></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. </p>
                        <h4 class="mb-3"><strong>Personal Info</strong></h4>
                        <div class="row">
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="social-info">
                                    <i class="fas fa-briefcase mr-2"></i>
                                    <span>Poet</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="social-info">
                                    <i class="fas fas fa-envelope mr-2"></i>
                                    <span>email@example.com</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
{% endblock %}