<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/view_poem.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <title>Poema</title>
    
</head>
<body>
    <header>
        <nav>
            <a href="#">Home</a>
            <a href="#">Profile</a>
        </nav>
        <div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.99 C150.00,150.00 349.20,-49.99 500.00,49.99 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path></svg></div>
    </header>
    <main>
        <section class="contenedor sobre-nosotros">      
            <div class="avatar">
                <div class="contenedor-sobre-nosotros">
                    <img src="img/imagen1.png" alt="", class="image-about-us">
                    <button type="button" class="boton-avatar">
                        <i class="far fa-image"></i>
                    </button>
                    <div class="container">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>                    
                    </div>  
                    <div class="contenedor-items">
                        <h3>Titulo del poema</h3>
                    </div>
                </div> 
            </div>
            <div class="poema">
                <div class="body-poema">
                    <h1 class="titulo">Hola</h1>
                </div>
                <div class="desc-poema">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad sapiente fugiat delectus ipsa natus veritatis! Rem, incidunt. Repellat assumenda dolores sunt illum id deserunt vero culpa nemo? Odit, corporis vel. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas rem deserunt fuga reiciendis veritatis suscipit repellat? Odio animi, perspiciatis libero nihil architecto, quas illum odit quia harum modi similique minus!</p>
                </div>
            </div>
        </section>   
    </main>      
</body>
</html>