*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 300px;
    background: #8A2387;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F27121, hsla(352, 79%, 58%, 0.483), hsla(302, 60%, 34%, 0.486)), url(../img/header.png);
    background: linear-gradient(to right, #F27121, hsla(352, 79%, 58%, 0.483), hsla(302, 60%, 34%, 0.486)), url(../img/header.png); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    text-align: left;
    padding: 30px 50px 0 0;
}

nav > a{
    color:aliceblue;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
    text-decoration: underline;
}

header .textos-header{
    display: flex;
    height: 150px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.container{
    width: 90%;
    min-height: 50vh;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}


.slider__container{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    align-items: center;
    gap: 1em;
}

.slider__body{
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: center;
    transition: opacity 1.5s;
    
}

.slider__body--show{
    opacity: 1;
    pointer-events: unset;
}

.slider__texts{
    max-width: 600px;
}

.subtitle{
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.slider__review{
    font-weight: 300;
    font-size: 20px;
    line-height: 1.7;
}

.slider__img{
    width: 230px;
    height: 230px;
    border-radius: 50px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

.slider__arrow{
    cursor: pointer;
    width: 90%;
}

.slider__arrow:nth-of-type(2){
    justify-self: end;
}

section.slider__body section:target{
    opacity: 1;
}

.buscar{
    position: relative;
    padding: 5px;
}

.buscar input{
    width: 0;
    height: 40px;
    padding: 0 20px;
    font-size: 18px;
    color:#222;
    outline: none;
    border: 1px solid rgb(26, 26, 26);
    border-radius: 30px;
    transition: all 0.6 ease;
    text-align: center;
}

.bttn{
    width: 55px;
    height: 55px;
    line-height: 55px;
    top:0;
    left: 0;
    position: absolute;
    background: #363636;
    text-align: center;
    color:white;
    font-size: 18px;
    border-radius:50%;
    cursor:pointer;
}


.buscar:hover input{
    width: 240px;
}

.buscar input:focus{
    width: 240px;
}